HOSTS:
  centos-6-x64:
    platform: el-6-x86_64
    hypervisor : docker
    image: centos:6
    docker_preserve_image: true
    docker_cmd: '["/sbin/init"]'
    docker_image_commands:
      - 'yum install -y crontabs tar wget openssl sysvinit-tools iproute which initscripts'
CONFIG:
  type: aio
  trace_limit: 200
